/* Begining of @font-face */
@font-face {
    font-family:'ostrichRegular';
    src: url('../fonts/ostrichkit/ostrichregular-webfont.woff2') format('woff2'),
         url('../fonts/ostrichkit/ostrichregular-webfont.woff') format('woff'),
         url('../fonts/ostrichsans/ostrichregular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'ostrichSansLight';
    src: url('../fonts/ostrichkit/ostrichsans-light-webfont.woff2') format('woff2'),
         url('../fonts/ostrichkit/ostrichsans-light-webfont.woff') format('woff'),
         url('../fonts/ostrichsans/ostrichsans-light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'ostrichSansBlack';
    src: url('../fonts/ostrichkit/ostrichsansblack-webfont.woff2') format('woff2'),
         url('../fonts/ostrichkit/ostrichsansblack-webfont.woff') format('woff'),
         url('../fonts/ostrichsans/ostrichsansblack.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'ostrichSansMedium';
    src: url('../fonts/ostrichkit/ostrichsans-medium-webfont.woff2') format('woff2'),
         url('../fonts/ostrichkit/ostrichsans-medium-webfont.woff') format('woff'),
         url('../fonts/ostrichsans/ostrichsans-medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Oswald-Light';
    src: url('../fonts/oswaldkit/oswald-light-webfont.woff2') format('woff2'),
         url('../fonts/oswaldkit/oswald-light-webfont.woff') format('woff'),
         url('../fonts/oswald/oswald-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Oswald-Medium';
    src: url('../fonts/oswaldkit/oswald-medium-webfont.woff2') format('woff2'),
         url('../fonts/oswaldkit/oswald-medium-webfont.woff') format('woff'),
         url('../fonts/oswald/oswald-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Oswald-ExtraLight';
    src: url('../fonts/oswaldkit/oswald-extralight-webfont.woff2') format('woff2'),
         url('../fonts/oswaldkit/oswald-extralight-webfont.woff') format('woff'),
         url('../fonts/oswald/oswald-extralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;    
}


#logo {
  opacity: 1;
  width: 500px;
}

#banner {
  height: 800px;
  background-image: url('./backgroundPhotos/students.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navigation{
  background-color: #373737;
  color: #F4F4F4;
  font-size: 22px;
}

h5 {
  color: #373737;
  font-size: 26px;
  text-align: center;
}

body {
  font-family: "Oswald-Light";
  color: #373737;
  background-color: #F4F4F4;
}
form {
  border: 5px solid #C0B283;
  padding: 20px 20px 25px 20px;
  font-size: 20px;
}

p{
  font-family: "Oswald-Light";
  color: #373737;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

input[type=checkbox],
input[type=radio] {
  margin-right: 8px;
}
.form-label.capitalize {
  text-transform: capitalize;
}
.checkbox-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 18px;
}
.checkbox-group .form-label {
  width: 50%;
}
input[type=submit],
.btn-link {
  margin-top: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #C0B283;
  border-radius: 4px;
  box-sizing: border-box;
}

button, input[type=submit] {
  width: 100%;
  background-color: #C0B283;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

button:hover, input[type=submit]:hover {
  background-color: #C0B283;
}

button:focus, input[type=text]:focus {
  background-color: #C0B283;
}

input[type=text]:visited {
  background-color: #C0B283;
}

select {
  font-family: "Oswald-Light";
  background: white;
  color: #373737;
  width: 268px;
  padding: 5px;
  font-size: 20px;
  line-height: 1;
  border: 1px solid #C0B283;
  border-radius: 0;
  height: 34px;
}

.form-select{
  font-family: "Oswald-Light";
  size:18px; 
}

.survey {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 #DCD0C0;
    color: #373737;
    border-radius: 5px; /* 5px rounded corners */
    transition: 0.3s;
    padding: 20px;
    margin: 20px;
}

.card:hover {
    box-shadow: 0 8px 20px 0 #C0B283;
}

.container {
    padding: 2px 16px;
}

.img-circle {
  border-radius: 30%;
  margin-bottom: 15px;
  box-shadow: 8px 8px 10px #aaa;
  width: 30%;
}

.description {
  font-family: "Oswald-Light";
  font-size: 22px;
  padding: 5px;
  margin-bottom: 15px;
}

.college-name {
    font-family: "Oswald-Medium";
    color: #373737;
    font-size: 26px;    
    font-weight: 300;
    margin-bottom: 15px;
}

hr {
  height: 10px;
  color:#373737;
}

a:link {
  color: #373737;
  text-decoration: none;
}



a:visited {
    text-decoration: none;
    color: #373737;
}

a:hover {
    text-decoration: none;
    color: gray;
}

a:active {
    text-decoration: none;
    color: #373737;
} 

img { 
  width: 30;
}

.bio {
  text-align: center;
  vertical-align: middle;
  display: block;
}

footer {
  background-color: #373737;
  font-family: "Oswald-ExtraLight";
  color: lightgrey;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}