#logo {
  opacity: 1;
  width: 500px;
}

#banner {
  height: 800px;
  background-image: url('./backgroundPhotos/students.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: Arial;
  background-color: white;
}
form {
  border: 3px solid #FFECB3;
  padding: 0 20px 25px 20px;
  border-radius: 10px;
}
input[type=checkbox],
input[type=radio] {
  margin-right: 8px;
}
.form-label.capitalize {
  text-transform: capitalize;
}
.checkbox-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.checkbox-group .form-label {
  width: 50%;
}
input[type=submit],
.btn-link {
  margin-top: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button, input[type=submit] {
  width: 100%;
  background-color: gray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover, input[type=submit]:hover {
  background-color: gray;
}

button:focus, input[type=text]:focus {
  background-color: lightgray;
}

select {
  background: white;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 1px solid gray;
  border-radius: 0;
  height: 34px;
}
<<<<<<< HEAD

.survey {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 20px 0 lightBlue;
}

.container {
    padding: 2px 16px;
}

.img-circle {
  border-radius: 30%;
  margin-bottom: 15px;
  box-shadow: 8px 8px 10px #aaa;
  width: 30%;
}

.description {
  font-family: Arial
  font-size: 16px;
  padding: 5px;
  margin-bottom: 15px;
}

.college-name {
    font-family: Arial
    color: black;
    font-size: 23px;    
    font-weight: 300;
    margin-bottom: 15px;
}

a:link {
  color: black;
  text-decoration: none;
}



a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: gray;
}

a:active {
    text-decoration: none;
    color: black;
} 

/*.form {
  margin: 0 auto;
  padding: 100px 30px 0;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.description {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 15px;
}
.input-range {
  margin-bottom: 160px;
}*/*/

img { 
  width: 100%;
}

